name: 'Test Workflow'

on:
    workflow_dispatch:

jobs:
    send-mail-to-qa:
        runs-on: ubuntu-latest

        steps:
            - name: Send Mail to QA
              uses: actiwaredevelopment/action-send-grid-mail@v0.1
              with:
                  TOKEN: ${{ secrets.SEND_GRID_TOKEN }}
                  TEMPLATE_ID: 'd-ec4fb5e968ff4e6992b604f265e8492f'
                  SENDER_MAIL: 'development@actiware-development.com'
                  SEND_TO: 'mathias.herhold@actiware-development.com'
                  TEMPLATE_DATA: |
                      -setup "Solr Module"
                      -version "2.0.0.0402"
